<!DOCTYPE html>
<ul class="menu-list">
	<img src="{{pokemon.img}}" (click)="clickEnImagen()" />
	<li>Nombre: {{pokemon.nombre}}</li>
	<li>
		Categoría: <span *ngIf="pokemon.categoria; else na">{{pokemon.categoria}}</span>
	</li>
	<li>
		Tipo: <span *ngIf="pokemon.tipo; else na">{{pokemon.tipo}}</span>
	</li>
	<li>
		Talla: <span *ngIf="pokemon.talla; else na">{{formatearNumero(pokemon.talla / 100)}} m</span>
	</li>
	<li>
		Peso: <span *ngIf="pokemon.peso; else na">{{formatearNumero(pokemon.peso / 1000)}} Kg</span>
	</li>
	<ng-template #na>N/A</ng-template>
</ul>
