<!DOCTYPE html>
<div class="container is-family-monospace">
	<h2>Los Pokemons que tenemos en el array:</h2>
	<hr />
	<div class="columns">
		<div class="column">
			<p>En el orden del array:</p>
			<p *ngIf="pokemonSeleccionado">El Pokémon seleccionado es: {{pokemonSeleccionado }}</p>
		</div>
	</div>
	<div class="columns is-multiline">
		<ul class="menu-list column is-one-third" *ngFor="let pokemon of pokemons">
			<li>
				<app-pokemon [pokemon]="pokemon" (eventoClicImagen)="pokemonSeleccionado =$event"></app-pokemon>
			</li>
		</ul>
	</div>
</div>
